/* Ejercicio N°2 */
#ele1 {
    background-color: green;
}

/* Ejercicio N°3 */
#div1 {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin-bottom: 20px;
}

#div2 {
    height: 200px;
    width: 200px;
    background-color: red;
    margin-bottom: 20px;
}

#div3 {
    height: 200px;
    width: 200px;
    background-color: green;
    margin-bottom: 20px;
}

#div4 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-bottom: 20px;
}

